body {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    border: 10px solid red;
    background-color: black;
}

header {
    border: 10px solid blue;
}

main {
    border: 10px solid green
}

footer {
    border: 10px solid orange
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container {
    display: flex;
    align-items: center;
    gap: 24px;
}

.main-container {
    display: flex;
    width: 100%;

}

.mainimage-container {
    background: url(https://img1.wsimg.com/isteam/ip/11f489c0-f7e5-4ab6-b569-fa96404efa93/-5431065332401903347.jpg/:/cr=t:14.79%25,l:0%25,w:100%25,h:70.42%25/rs=w:1200,h:600,cg:true);
    height: 400px;
    width: 800px;
    justify-self: left;
}

.right-sidebar-container {
    color: white;
    width: 40%;
    justify-self: right;
    padding-left: 350px;
    display: flex;
    flex-direction: column;
    font-size: 36px
}




.button {
    display: flex;
    align-self: end;
}



.icons {
    color: white;
}